/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .slider {
    margin-bottom: 70px; }
  .slide-content {
    min-height: 450px;
    padding: 35px 10px 5px 10px; }
    .slide-content h3 {
      font-size: 2.4em;
      line-height: 1.3em; }
    .slide-content p {
      font-size: 1.5em; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .slider {
    margin-bottom: 70px; }
  .slide-content {
    min-height: 450px;
    padding: 15px 10px 5px 10px; }
    .slide-content h3 {
      font-size: 2.2em;
      line-height: 1.1em; }
    .slide-content p {
      font-size: 1.3em; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .slider {
    margin-bottom: 70px; }
  .slide-content {
    min-height: 450px;
    padding: 15px 10px 5px 10px; }
    .slide-content h3 {
      font-size: 1.5em;
      line-height: 1em; }
    .slide-content p {
      font-size: 1.1em; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
